@import 'grid.less';

@column-width: 50;
@gutter-width: 10;
@columns: 16;


.smallonly{ display: none; }
.postwrapper{
	width: 960px;
	.meta{
		.column(5);
	}
	.content, .comments{
		.column(11);
	}
	.comments{
		.push(5);
	}
	
}


@media only screen and (max-width: 960px) {
	/* below 960, above 768 */
	.postwrapper, html body #container header, html body #container #main{ width: 720px; }
	footer{ margin: 0 auto; }
	.postwrapper .meta{ .column(3); }
	.postwrapper .content, .postwrapper .comments{ .column(9); }
	.postwrapper .comments{ .push(3); }
}
@media only screen and (max-width: 768px) {
	/* below 768, above 600 */
	.postwrapper, html body #container header, html body #container #main, footer{ width: 600px; }
	.postwrapper .meta{ .column(3); }
	.postwrapper .content, .postwrapper .comments{ .column(7); }
	.postwrapper .comments{ .push(3); }
	
	html body #container header{ 
		width: 90%; 
		padding: 10px 5% 50px; 
		margin: 0 auto 100px;
	}
	
	html body #container #main .meta { padding: 17px 0 0; p {margin: 0 0 3px 0;} }
	html body #container #main .content, .postwrapper .comments{ padding: 10px 0 0; }
}
@media only screen and (max-width: 600px) {
	/* below 600, above 480 */
	.postwrapper, html body #container #main, footer{ width: 480px; }
	.postwrapper .meta{ .column(2); }
	.postwrapper .content, .postwrapper .comments{ .column(6); }
	.postwrapper .comments{ .push(2); }
	
	html body #container header .mark p { display: none; }
	
	.smallonly{ display: block; }
	html body.about{ background: none; }
	
}
@media only screen and (max-width: 480px) {
	/* below 480, above 320 */
	.postwrapper, html body #container #main, footer{ width: 320px; }
	.postwrapper .meta{ .column(5); }
	.postwrapper .content, .postwrapper .comments{ .column(5); }
	html body #container #main .content, .postwrapper .comments{ padding: 40px 0 0; }
	html body #container header nav{ margin: 8px 0 0; }
	html body #container #main .meta p{ text-align: left; }
}
@media only screen and (max-width: 320px) {
	/*smallest*/
	.postwrapper, html body #container #main, footer{ width: 95%; }
	.postwrapper .meta{ width: 95%; }
	.postwrapper .content, .postwrapper .comments{ width: 95%; }
}
