{% extends "base.html" %}
{% block title %}The Life Of {% endblock %}

{% block content %}
<div id="main" class="about container_16">
	<h2>A Ninja Named Josh, Bitch</h2>
	<div class="content grid_8">
		<p class="exerpt">There was madness in any direction, at any hour. You could strike sparks anywhere. There was a fantastic universal sense that whatever we were doing was right, that we were winning.</p>
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>

		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

		<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor.</p>
	</div>
	<img src="{{ STATIC_URL }}img/me.png" width="" height="97%" alt="Me" class="me">
</div><!-- /#main -->
{% endblock %}