{% extends "base.html" %}
{% block title %}The Life Of {% endblock %}

{% block content %}
<img src="{{ STATIC_URL }}img/me.png" width="" height="97%" alt="Me" class="me">
<div id="main" class="about container_16">
	<h2>Always Learning</h2>
	<div class="content grid_8">
		<p class="exerpt">Always learning, that's my motto. When I'm not busy working, I'm usually hunched over a computer, book, or coffee table.</p>
		<p>I'm interested in things like architecture, graphic design, fashion, ...coffee, but I know what I'm most comfortable doing. I love building. I like designing systems, from planning to implementation, I enjoy creating a solid foundation for a successful product or team. My favorite part of any project is that first line of JavaScript, or cloning a new copy of a framework; that first syncdb.</p>
		<p>I like to build things because I learn from doing, and as I mentioned, I love learning. With that first line of code, I'm redefining my approach, trying to find a new faster way of doing things. With every project I try to do at least one thing that is new and challenging.</p>
		<p>Besides that, I'm a partner at company called <a href="http://sourcebits.com" target="_blank">Sourcebits</a>. I co-run a design team with my best friend <a href="http://brianbenitez.me" target="_blank">Brian</a>. Together we design for  enterprise companies, start ups, and even ourselves. When I'm not writing plans, I'm creating prototypes or new interfaces using HTML, JavaScript, or Python. When I'm doing none of the above I'm usually taking a bike ride or hanging out with my <a href="http://instagr.am/p/JK2934hLYh/" target="_blank">pup</a>.</p>
	</div>
</div><!-- /#main -->
{% endblock %}