{% extends "base.html" %}

{% block title %}The Life Of a JavaScript/Django Developer {% endblock %}

{% block bodyclass %}about{% endblock %}
{% block precontent %}<img src="{{ STATIC_URL }}img/me.png" width="" height="97%" alt="Josh Guffey" class="me smallonly">{% endblock %}


{% block content %}
<div class="background"></div>
<div id="main" class="about container_16">
	<h2>Always Learning</h2>
	<div class="content grid_8">
		<p class="exerpt">When I'm not building, I'm usually getting lost in a book, album, or coffee.</p>
		<p>I'm a founding partner and Developer at <a href="http://collectiveray.com">Collective Ray</a>. We design for  enterprise companies, start ups, and even ourselves. When I'm not writing plans, I'm creating prototypes or new interfaces using HTML, JavaScript, or Python. When I'm doing none of the above I'm usually taking a bike ride or hanging out with my <a href="http://instagr.am/p/JK2934hLYh/">pup</a>.</p>
	</div>
</div><!-- /#main -->
{% endblock %}