{% extends "base.html" %}
{% block title %}{% autoescape off %}{{ post.title }}{% endautoescape %}{% endblock %}

{% block content %}
<div id="main" class="post">
	<div class="postwrapper">
		{% autoescape off %}
		<h2>{{ post.title }}</h2>
		{% endautoescape %}
		<div class="meta">
			<p>{{ post.postdate|date:"b jS, Y" }}</p>
			
			{% if older and newer %}
				<p><a href="/post/{{older.url}}" alt="{{older.title}}">older</a> &nbsp;&bull;&nbsp; <a href="/post/{{newer.url}}" alt="{{newer.title}}">newer</a></p>
			{% endif %}
			
			{% if older and not newer %}
				<p><a href="/post/{{older.url}}" alt="{{older.title}}">older</a></p>
			{% endif %}
			
			{% if newer and not older %}
				<p><a href="/post/{{newer.url}}" alt="{{newer.title}}">newer</a></p>
			{% endif %}
			
			<!-- <p><a href="#">share on twitter</a></p> -->
		</div>
		<div class="content">
			{% autoescape off %}
				<p class="exerpt">{{ post.exerpt }}</p>
				{{ post.content }}
			{% endautoescape %}
		</div>
	</div>
</div><!-- /#main -->
{% endblock %}