{% extends "base.html" %}
{% block title %}{% autoescape off %}{{ post.title }}{% endautoescape %}{% endblock %}

{% block content %}
<div id="main" class="post">
	<div class="postwrapper">
		{% autoescape off %}
		<h2>{{ post.title }}</h2>
		{% endautoescape %}
		<div class="meta">
			<p>{{ post.postdate|date:"b jS, Y" }}</p>
			
			{% if older and newer %}
				<p><a href="/post/{{older.url}}" alt="{{older.title}}">older</a> &nbsp;&bull;&nbsp; <a href="/post/{{newer.url}}" alt="{{newer.title}}">newer</a></p>
			{% endif %}
			
			{% if older and not newer %}
				<p><a href="/post/{{older.url}}" alt="{{older.title}}">older</a></p>
			{% endif %}
			
			{% if newer and not older %}
				<p><a href="/post/{{newer.url}}" alt="{{newer.title}}">newer</a></p>
			{% endif %}
			<p><a href="https://twitter.com/intent/tweet?url={{ url|urlencode:"" }}%2Fpost%2F{{ post.url|urlencode:"" }}&text={{post.title}}%20via%20%40jguffey">share on twitter</a></p>
		</div>
		<div class="content">
			{% autoescape off %}
				<p class="exerpt">{{ post.exerpt }}</p>
				{{ post.content }}
			{% endautoescape %}
		</div>
		
		<div class="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    var disqus_shortname = 'jguffey'; // required: replace example with your forum shortname
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
		
	</div>
</div><!-- /#main -->
{% endblock %}